body {
    margin: 0;
    padding: 0;
    background: url("../../images/pic6.jpg");
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    body {
        background-size: cover;
        background-attachment: fixed;
    }
}

#particles-js {
    height: 100%;
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 200px;
    background: pink;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}

.loginBox a {
    color: #262626;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    cursor: pointer;
}

.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.sign-in-here {
    padding: 0 30px 20px;
    text-align: center;  
    font-size: 20px;
}

.loginBox .forget-pw {
    font-size: 15px;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: black;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.loginBox input[type="text"]:hover,
.loginBox input[type="password"]:hover {
    color: black;
    border: 1px solid #42F3FA;
    box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px rgba(0, 255, 0, 0.1), 0 2px 0 black;
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
    border-bottom: 2px solid black;
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626;
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #59238F;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

a:hover {
    color: #00ffff;
}

p {
    color: #0000ff;
}

.loginBox .sign-up {
	color: #0000ff;
	cursor: pointer;
	font-size: 20px;
	text-align: left;
	padding: 20px 0 0 0;
}
