.footer-container {
	background-color: #2c3e50;
    color: white;
    display: flex;
    margin-top: 80px;
}

.footer-section {
	width: 300px;
	margin: 0 0 20px 50px;
}

.footer-section a {
	text-decoration: none;
	color: white;
	display: grid;
	margin-top: 20px; 
}

.footer-section a:hover {
    color: #f39c12;
}

.fas {
	margin-right: 10px;
}

.footer-bottom {
	color: black;
	background-color: white;
	justify-content: center;
	display: grid;
	align-items: center;
}