body {
	background-color: #7ADAF5;
}

.contact {
	position: absolute;
	background-color: rgb(5,68,94);
	width: 1483px;
	height: 40px;
	margin: 0 0 0 -7px;
}

.contact svg {
	margin-top: 10px;
	margin-left: 60px;
	color: white;
}

.contact p{
	display: inline;
	position: absolute;
	margin: 8px 0 0 10px;
	font-weight: bold;
	color: white;
}

.contact .title {
	margin-left: 400px;
}

.header {
	display: flex;
    align-items: center;
}

.header-image {
	margin: 10px 150px -40px 2px;
}

.search_input {
	display: flex;
	align-items: center;
	background-color: #ADD8E6;
	border: 2px solid red;
	border-radius: 20px;
	width: 500px;
	height: 40px;
	padding: 0 16px;
	box-shadow: 0 0 4px rgba(231, 76, 60, 0.8);
	font-size: 15px;
	font-weight: bold;
	margin-top: 30px;
	color: black;
}

.header .bi-search {
	display: inline;
	color: black;
	margin: 32px 140px 0 -30px;
	cursor: pointer;
}

.box-cart {
	padding: 0 10px;
	margin: 45px 0 0 -20px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
}

.bi-cart {
	color: white;
}

.cart {
	color: white;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
}

.login {
	display: grid;
    text-decoration: none;
    color:black;
    margin: 38px 50px 10px 0;
    font-weight: bold;
    font-size: 15px;
}

.login-content {
	padding: 7px;
}

.under-header a{
	display: inline-block;
	border: 3px solid gray; 
	border-radius: 10px;
	padding: 10px 15px;
	color: black;
	font-size: 15px;
	font-weight: bold;
	margin: 50px -10px -50px 20px;
	text-decoration: none;
}

.home-page {
	margin-left: 50px;
    cursor: pointer;
}

.login .login-content, .review, .product, .trademark, .promotion {
    margin-left: 20px;
    cursor: pointer;
    background-color: rgb(255, 229, 158);
}

.home-page:hover, .review:hover, .product:hover, .trademark:hover, .promotion:hover {
    border: 2px solid red;
    box-shadow: 0 0 20px 5px red;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-right: 40px;
	z-index: 1;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(212,241,244);
	min-width: 160px;
	z-index: 1;
	margin-left: 30px;
}

.dropdown-content a {
	text-decoration: none;
	display: block;
	color: black;
	border-radius: 0px;
	border: 0 1px gray;
	margin: 0 0 0 0;
}

.dropdown-content a:hover {
	background-color: white;
	border: 2px solid gray;
    box-shadow: 0 0 20px 5px gray;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.wishlist {
    margin: 25px 20px 0 -60px;
}
.popup-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}
.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F8DAE9;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    height: 600px;;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.close-btn {
    position: absolute;
    top: -7px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
}